__pycache__/
*.py[cod]
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST__pycache__
owned
pull.sh
push.sh
*.ccache
